@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
  --main-bg: hsl(218, 28%, 13%);
  --secondary-bg: hsl(219, 30%, 18%);
  --white: hsl(0, 0%, 100%);
  --secondary: #d5d5d5;
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --ligth-red: hsl(0, 100%, 63%);
  --footer-bg: hsl(216, 53%, 9%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  font-size: 14px;
  color: var(--white);
  font-family: 'Raleway', sans-serif;
}
body {
  overflow-x: hidden;
  background-color: var(--main-bg);
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* main => .conatiner => .row */
main {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.row {
  max-width: 1440px;
  width: 85vw;
}
a {
  color: var(--white);
  text-decoration: none;
}
button {
  border: none;
}
button:not(:disabled) {
  cursor: pointer;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
p {
  line-height: 1.6rem;
}
nav {
  background-color: var(--secondary-bg);
}
ul {
  list-style: none;
}

/* buttons */
button:disabled {
  opacity: 0.75;
}
.btn-primary {
  border-radius: 30px;
  /* background-color: var(--blue); */
  background-image: linear-gradient(to right, var(--cyan) , var(--blue) 40%);
  padding: 12px 15px;
  color: var(--secondary);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  min-width: fit-content;
  text-wrap: nowrap;
}
.btn-primary:hover {
  background-image: linear-gradient(to right, var(--cyan) 0% 100%, var(--blue) 100%);
}

/* Input fields */
input {
  border-radius: 30px;
  padding: 13px 15px;
  border: 1px solid var(--footer-bg);
  outline: none;
  color: var(--footer-bg);
}
.error {
  color: var(--ligth-red);
  font-weight: bold;
  margin-left: 25px;
  padding: 5px;
  font-size: 0.9rem;
  visibility: hidden;
}
.error.show {
  visibility: visible;
}
@media (max-width: 991px) {
  .error {
    margin: 0;
  }
}

/* Fonts */
.font-raleway {
  font-family: 'Raleway', sans-serif;
}
.font-sans {
  font-family: 'Open Sans', sans-serif;
}
.text-primary {
  color: var(--white);
}
.text-secondary {
  color: var(--secondary);
}
.text-center {
  text-align: center;
}

/* Footer */
footer {
  background-color: var(--footer-bg);
  padding: 200px 0 75px;
}
footer .row {
  display: grid;
  grid-template-columns: 4fr 3fr 2fr 2fr 3fr;
  grid-template-rows: repeat(2, auto);
  gap: 15px 30px;
}
.footer-logo {
  grid-column: span 5;
}
footer a {
  color: var(--secondary);
  font-weight: bold;
}
footer a:hover {
  color: var(--white);
}
footer ul li {
  margin: 15px 0;
}
footer p {
  display: flex;
}
footer p:first-of-type {
  max-width: 400px;
}
footer p img {
  margin-right: 15px;
}
footer .social-media {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 991px) {
  footer {
    padding: 35vh 0 75px;
  }
  footer .row {
    display: flex;
    flex-direction: column;
  }
  footer .social-media {
    justify-content: center;
  }
  footer i {
    margin: 0 15px;
  }
}